<h1>Editing Trait</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <%= render 'form', trait: @trait %>

    <%= link_to 'Show', @trait %> |
    <%= link_to 'Back', traits_path %>

  </div>
</div>
