<li class="list-group-item">
  <div class="row">
    <div class="col-sm-1">
      <%= user.id %>
    </div>

    <div class="col-sm-9">
      <%= link_to "#{user.first_name} #{user.last_name}", user %>
    </div>

    <div class="col-sm-2">
      <% if current_user.admin? && current_user?(user) %>
        <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" }, class: "btn  btn-xs btn-danger pull-right" %>
      <% end %>
    </div>
  </div>
</li>
