<h1>Editing Taxon</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <%= render 'form', taxon: @taxon %>

    <%= link_to 'Show', @taxon %> |
    <%= link_to 'Back', taxa_path %>

  </div>
</div>
